@model List<Portal.Core.ViewModel.ProductBOMViewModel>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:2px;">
        <table class="table" id="tblUserList">
            <thead>
                <tr  class="label-success">
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Short Desc</th>
                    <th>Assembly Type</th>
                    <th>BOM Qty.</th>
                    <th>Active Status</th>
                    <th colspan="2" align="center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-success">
                        <td>@item.ProductName</td>
                        <td>@item.ProductCode</td>
                        <td>@item.ProductShortDesc</td>
                        <td>@item.AssemblyType</td>
                        <td>@item.BOMQty</td>
                        <td>@(item.BOM_Status == true ? "Active" : "Inactive")</td>
                        <td class="btn btn-success table_btn" style="width:30px; margin:0px auto;">
                            <a style="color:white"  class="fa fa-eye" aria-hidden="true" href="~/ProductBOM/AddEditProductBOM?BOMId=@item.BOMId&AccessMode=3"></a>
                        </td>
                        <td class="btn btn-success table_btn" style="width:30px; margin:0px 2px auto;">
                            <a style="color:white" class="fa fa-pencil-square-o" href="~/ProductBOM/AddEditProductBOM?BOMId=@item.BOMId&AccessMode=2"></a>
                        </td>

                    </tr>
                }
              
            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblUserList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>