@model List<Portal.Core.ViewModel.LogoViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblLogoList">
            <thead style="background:rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0; color:#fff;">
                <tr>
                    <th>Logo Title</th>
                    <th>Logo Image</th>
                    <th>Page Link</th>
                    <th>Created By</th>
                    <th>Status</th>

                    <th align="center">Action</th>
                </tr>
            </thead>
            <tbody style="background:#dff0d8;">
                @foreach (var item in Model)
                {
                    <tr class="success" style="border-bottom:1px solid #ddd;">
                        <td>@item.Title</td>
                        <td><img src="~/Images/CompanyLogo/@item.LogoPath" title="@item.Title" alt="@item.Title" width="50px" height="50px" /> </td>
                        <td>@item.Link</td>
                        <td>@item.CreatedByName</td>
                        <td>@(item.LogoStatus == true ? "Active" : "Inactive")</td>
                        <td class="btn btn-success table_btn" style="width:30px; margin:7px auto;">
                            <a style="color:white" class="fa fa-trash" aria-hidden="true" href="javascript:void(0)" onclick="RemoveLogo(@item.LogoId)" title="Remove Logo"></a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblLogoList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>