@model List<Portal.Core.ViewModel.STRViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblSTNList">
            <thead>
                <tr>                   
                    <th>STR No.</th>
                    <th>STR Date</th>
                    <th>GR No</th>
                    <th>From Loaction</th>
                    <th>To Location</th>
                    <th>STR Status</th>
                    <th>Created By User</th>
                    <th>Created Date</th>
                    <th colspan="2" align="center">Action</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                       
                        <td>@item.STRNo</td>
                        <td>@item.STRDate</td>
                        <td>@item.GRNo</td>
                        <td>@item.FormLocationName
                        <input type="hidden" name="hdnFromLocationId" id="hdnFromLocationId" value="@item.FromWarehouseId" />
                        </td>
                        <td>@item.ToLocationName</td>

                        @if (item.ApprovalStatus.ToUpper() == "DRAFT")
                        {
                            <td style="background-color:aquamarine">
                                @item.ApprovalStatus
                            </td>
                        }
                        else
                        {
                            <td style="background-color:green">
                                @item.ApprovalStatus
                            </td>

                        }


                        <td>@item.CreatedByUserName</td>
                        <td>@item.CreatedDate</td>

                        <td class="btn btn-success table_btn" style="margin:0px auto;">
                            <a style="color:white" class="fa fa-eye" aria-hidden="true" href="~/STR/AddEditSTR?strId=@item.STRId&AccessMode=3"></a>
                            @if (item.ApprovalStatus.ToUpper() == "DRAFT")
                            {
                                <a style="color:white" class="fa fa-pencil-square-o" href="~/STR/AddEditSTR?strId=@item.STRId&AccessMode=2"></a>
                            }

                        </td>                       
                    </tr>
                }
              
            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblChallanList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>
<style>
    .btn-success a {
        background-color: #446abc !important;
        border-color: #233e79 !important;
        display: -webkit-inline-box;
        padding: 5px;
    }
</style>