@model List<Portal.Core.ViewModel.LeadViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblLeadList">
            <thead>
                <tr>
                    <th>Lead Code</th>
                    <th>Company Name</th>   
                    <th>Person Name</th>  
                    <th>Contact No</th>  
                    <th>Email</th>  
                    <th>Company Address</th> 
                    <th>City</th>
                    <th>State Name</th>
                    <th>Lead Status</th>
                    <th>Lead Source</th> 
                    <th>Create By</th>  
                    <th>Created Date</th> 
                    <th>Modified By</th>
                    <th>Modified Date</th> 
                    <th>Lead Status</th>
                    <th colspan="2" align="center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td>@item.LeadCode</td>
                        <td>@item.CompanyName</td>  
                        <td>@item.ContactPersonName</td>  
                        <td>@item.ContactNo</td>  
                        <td>@item.Email</td>   
                        <td>@item.CompanyAddress</td> 
                        <td>@item.CompanyCity</td> 
                        <td>@item.StateName</td> 
                        <td>@item.LeadStatusName</td> 
                        <td>@item.LeadSourceName</td> 
                        <td>@item.CreatedName</td>
                        <td>@item.CreatedDate</td>  
                        <td>@item.ModifiedName</td>
                        <td>@item.ModifiedDate</td> 
                        <td>@(item.Lead_Status == true ? "Active" : "Inactive")</td>
                        <td class="btn btn-success table_btn" style="width:30px; margin:0px auto;">
                            <a style="color:white" class="fa fa-eye" aria-hidden="true" href="~/Lead/AddEditLead?LeadId=@item.LeadId&AccessMode=3"></a>
                        </td>
                        <td class="btn btn-success table_btn" style="width:30px; margin:0px 2px auto;">
                            <a style="color:white" class="fa fa-pencil-square-o" href="~/Lead/AddEditLead?LeadId=@item.LeadId&AccessMode=2"></a>
                        </td> 
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblLeadList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>